@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

html {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #fff;
}

body {
  background: url("1.jpg") no-repeat center center fixed;
}

p {
  margin-bottom: 5px;
}

fieldset {
  border: none;
}

form {
  width: 40%;
  margin: 0 auto;
  background: #00000060;
  border: 1px solid #303030;
  border-radius: 4px;
}

select {
  font-size: 16px;
  color: #222;
  display: block;
  padding-left: 15px;
  background: #fff;
  height: 2.4em;
  width: 96%;
  margin-top: 7px;
  margin-bottom: -9px;
  border: none;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 93%;
  padding-left: 15px;
  padding-top: 8px;
  resize: vertical;
  font-size: 18px;
}

::placeholder {
  font-size: 16px;
  color: #424443;
}

.head {
  width: 40%;
  text-align: center;
  margin: 42px auto 30px;
  font-weight: 300;
}

#description {
  font-weight: 100;
  margin-top: -20px;
  font-style: italic;
  text-shadow: 1px 1px 1px black;
}

.basic-datas, 
.frequency, 
.favorite, 
.kind,
.comments {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
}

.basic-datas label {
  display: block;
  margin-top: 30px;
}

.basic-datas input {
  font-size: 16px;
  display: block;
  width: 93%;
  height: 2.2em;
  margin-top: 7px;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
}

.frequency label, .kind label, .comments label {
  display: block;
  margin-bottom: 6px;
}

.frequency input, .kind input {
  margin: 0;
  margin-right: 5px;
}

.favorite {
  margin-top: 8px;
}

.kind {
  margin-top: 3px;
}

#submit {
  color: #FFF;
  font-size: 18px;
  width: 96%;
  height: 2.6em;
  margin-top: 25px;
  margin-bottom: 60px;
  border: none;
  border-radius: 0;
  background: #535554;
  cursor: pointer;
}

.clue {
  font-size: 14px;
  font-weight: 300;
}
